* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    
    
;
}
body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(58,80,185,1) 100%);
    position: relative;
    /* padding-bottom: 1.5rem;
    min-height: 100vw; */
    margin: 0px 5px 5px 5px;
}

.uno{
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    padding: .5rem;
    background-image: url(../images/airport.jpg);
    background-position: bottom;
    
}

a.navIndex {
    padding: 0.3rem;
}
    
nav a{
    text-decoration: none;
    color: beige;
    border: outset rgb(235, 0, 203);
    border-radius: 15px;
    margin: 3px;
    position: relative;
    top: 16px;
    left: 5px;
    
    
}
nav a:hover{
    background-color: rgb(235, 0, 203);
    color: rgb(0, 204, 255);
    
}
header{
    /* height: 15vh; */
    text-align: center;
}
main{
    min-height: 100vh;
    

}
#main-info{
    min-height: 73vh;
}

footer{
    padding: 1rem;
    /* position: absolute; */
    /* bottom: 0; */
    height: 10vh;
    border: 2px solid rgb(7, 59, 66);
    width: 100%;
}

h1{
    font-size: 2rem;

}

.logo{
    width: fit-content;
}

img.logo{
    width: 5rem;
    height: 2rem;
    position: absolute;
    top:22px;
    left: 90%;
     
}
.header-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}


h2.indexHome{
    font-size:40px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap;
    color: #FFD0D0;
  }
h2.indexHome:before {
      background-color: #C1ECE4;
      
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
  }

    
h1.indexHome1{
    width: 30rem;
    color: #FFD0D0;
    font-size:40px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap;
}
h2.indexHome:before {
    background-color: #C1ECE4;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.main-section{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.image1{
    height: 40vh;
    width: 40vw;
    margin-top: 25px;
}
img.image1{
    width: fit-content;
    border: double #C1ECE4;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #000000;
} 


.parrafo{
    
    height: 30vh;
    width: 35vw;
    
}
p.parrafo{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #FF9EAA;
    padding: 2rem 25px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.image2{
    background-color: chartreuse;
    height: 50vh;
    width: 50vw;
    margin-top: 15px;
    
}
img.image2{
    border: groove gray;
    box-shadow: 5px 5px 5px 5px #000000;
}



footer{
    text-align: center;
}
.footer-by{
    display: inline;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
footer a{
    display: block;
    position: absolute;
    left: 48%;
    border: dashed lightblue;
    margin: 3px;
}
footer a:hover{
    background-color: crimson;
    color: darkgreen;
}
.image3{
    height: 25vh;
    width: 25vw;
    display: inline-block;
    position: relative;
    top: 1000px ;
    left: 1rem;
    margin-top: 15px;
}
.image3 img{
    width: 50vw;
    height: 50vh;
    border: groove gray;
    box-shadow: 5px 5px 5px 5px #000000;
    
}
.header-abt h1 {
    font-size:40px;
    font-weight:700;
    color: #FFD0D0;
    letter-spacing:1px;
    text-transform:uppercase;
    width:160px;
    text-align:center;
    margin:auto;
    white-space:nowrap;
  }
  .header-abt h1:before {
      background-color: #C1ECE4;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
  }
.main-abt h2{
    display: flex;
    text-align: center;
    font-size:20px;
    font-weight:700;
    color: #FFD0D0;
    letter-spacing:1px;
    text-transform:uppercase;
    width:280px;
    text-align:center;
    margin:auto;
    white-space:nowrap;
  }
  .main-abt h2:before {
      background-color: #C1ECE4;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
    
}
.main-abt{
    display: block;
    text-align: center;
    
}
.main-header{
    display: flex;
    /* width: 15rem; */
    justify-content: center;
}
.about-image1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p.parrafo-abt{
    font-family: 'Poppins', sans-serif;
    color: #FF9EAA;
    text-shadow: 4px 9px 11px #5f393e54;

}
.about-image2{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagen-about1{
    margin-right: 118px;
}

p.parrafo-abt1{
    font-family: 'Poppins', sans-serif;
    color: #FF9EAA;
    text-shadow: 4px 9px 11px #5f393e54;

}
p.parrafo-abt2{
    width: 25vw ;
}
p.parrafo-abt3{
    width: 35vh;
    flex-grow: 3;
    font-family: 'Poppins', sans-serif;
    color: #FF9EAA;
    text-shadow: 4px 9px 11px #5f393e54;
}
.imagen-about{
    width: 35vw;
    height: 35vh; 
}
.imagen-about1{
    width: 35vw;
    height: 35vh;
}
.imagen-about3{
    width: 30vw;
    height: 35vh;
    
}
.p-about, .p-about1, .p-about2{
    display: flex;
}
.about-image3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.imagen-about3{
    flex-grow: 1;
}
.header-contact{
    text-decoration: underline;
    font-size: 35px;
    text-align: center;
    color: rgb(204, 37, 190);
    width: 20rem;
}
.image-contact{
    
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-end;
    margin-left: 8rem; */
    padding-left: 38rem;
    align-items: center;

}
.image-contact img{
    width: 60vw;
    height: 70vh;
    top: 25px;
    left: 18rem;
    border: inset beige 6px;
    box-shadow: 10px 5px 5px black;
}
.contact-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    position: relative;
    top: 250px;
}
h3.contact-text{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #FF9EAA;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.ancords-contact{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    gap: 40%;
    justify-content: center;
    
}
.ancords-contact a {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: #FFD0D0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   .ancords-contact a:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
   .ancords-contact a:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }
   
   #contact-header {
    font-size:40px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap;
  }
  #contact-header:before {
      background-color: #C1ECE4;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
  }
  .info-h1 h1{
    display: flex;
    font-size:40px;
    font-weight:700;
    color: #FFD0D0;
    letter-spacing:1px;
    text-transform:uppercase;
    width:410px;
    text-align:center;
    margin:auto;
    white-space:nowrap;
  }
  .info-h1 h1:before {
      background-color: #C1ECE4;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
    
}
.info-table h2{
    display: flex;
    text-align: center;
    font-size:20px;
    font-weight:700;
    color: #FFD0D0;
    letter-spacing:1px;
    text-transform:uppercase;
    width:280px;
    text-align:center;
    margin:auto;
    white-space:nowrap;
    justify-content: center;
    align-items: stretch
  }
  .info-table h2:before {
      background-color: #C1ECE4;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
    
}

.table-flex{
    display: flex;
    justify-content: center;
}
.table-info{
    background-color: #3AA6B9;
    border-radius: 7px;
    width: 50vw;
    height: 50vh;
}
.table-info th{
    background-color: #FFD0D0;
}
.table-info tr{
    background-color: #FF9EAA;
}
.header-ben h1{
    display: flex;
    text-align: center;
    font-size:20px;
    font-weight:700;
    color: #FFD0D0;
    letter-spacing:1px;
    text-transform:uppercase;
    width:200px;
    text-align:center;
    margin:auto;
    white-space:nowrap;
    justify-content: center;
    align-items: stretch
  }
  .header-ben h1:before {
      background-color: #C1ECE4;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
}
.main-ben h2{
    display: flex;
    text-align: center;
    font-size:20px;
    font-weight:700;
    color: #FFD0D0;
    letter-spacing:1px;
    text-transform:uppercase;
    width:200px;
    text-align:center;
    margin:auto;
    white-space:nowrap;
    justify-content: center;
    align-items: stretch
  }
  .main-ben h2:before {
      background-color: #C1ECE4;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
}
.list1{
    display: flex;
    padding-top: 3rem;
}
.list1 img{
    width: 30vw;
    height: 35vh;
    border: inset #C1ECE4;
}
.list1, h3{
    padding-left: 3rem;
    color: #FF9EAA;
}
.list1 ul{
    list-style: circle;
    margin-left: 2rem;
    align-self: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #FF9EAA;
    padding: 2rem 25px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    
}
.list2{
    display: flex;
    padding-top: 3rem;
}
.list2 img{
    width: 35vw;
    height: 35vh;
    border: inset #C1ECE4;
}
.list2, h3{
    padding-left: 3rem;
    color: #FF9EAA;
}
.list2 ul{
    list-style-type: circle;
    margin-left: 2rem;
    align-self: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #FF9EAA;
    padding: 2rem 25px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    
}

